@{
    UserModel user = ViewBag.User;
    var imageUrl = Url.Action("Image", "User", new { id = user.Id });
}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>@ViewData["Title"] - BTLWebNC_QLLopHocOnline</title>
        
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/toastify-js/src/toastify.min.css">
        <link rel="stylesheet" href="~/css/font.css" asp-append-version="true" />
        <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
        <link rel="stylesheet" href="~/css/app.css" asp-append-version="true" />
    </head>

    <body>
        <div id="app">
            <header>
                <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow">
                    <div class="container-fluid">
                        <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">
                            <img src="~/img/logo.png" height="32" class="d-inline-block align-top" alt="">
                        </a>

                        <div class="navbar-nav">
                            <a class="nav-item nav-link" asp-action="Index" asp-controller="Home">Trang Chủ</a>
                            <a class="nav-item nav-link" asp-action="Calendar" asp-controller="Home">Lịch</a>
                            <a class="nav-item nav-link" asp-action="SelfEnrollCourseView" asp-controller="Course">Tham Gia Khóa Học</a>

                            @if (user.Role == UserModel.ROLE_TEACHER || user.Role == UserModel.ROLE_ADMIN) {
                                <a class="nav-item nav-link" asp-action="CreateCourseView" asp-controller="Course">Tạo Khóa Học</a>
                            }

                            @if (user.Role == UserModel.ROLE_ADMIN) {
                                <a class="nav-item nav-link" asp-action="Accounts" asp-controller="Admin">Quản Lý Tài Khoản</a>
                                <a class="nav-item nav-link" asp-action="Courses" asp-controller="Admin">Quản Lý Khóa Học</a>
                            }

                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="NewPage">New Page</a>
                    </div>

                        <span class="navbar-text nav-user-info">
                            <img src="@imageUrl" class="user-image" />

                            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                @user.Name
                            </a>

                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" asp-controller="Profile" asp-action="Index" asp-route-id="@user.Id">Hồ sơ</a></li>
                                <li><a class="dropdown-item" href="#">Điểm</a></li>
                                <li><hr class="dropdown-divider"></li>
                                <li><a class="dropdown-item" asp-action="Logout" asp-controller="Login">Đăng xuất</a></li>
                            </ul>
                        </span>
                    </div>
                </nav>
            </header>

            <div class="main">
                <span class="content">
                    @RenderBody()
                </span>
            </div>
        </div>

        <script src="~/lib/jquery/dist/jquery.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/toastify-js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
        @await RenderSectionAsync("Scripts", required: false)
    </body>
</html>
