@model List<BTLWebNC_QLLopHocOnline.Models.UserModel>

@foreach (var item in Model)
{
    <tr>
        <td>@(Model.IndexOf(item) + 1)</td>
        <td>@item.Username</td>
        <td>@item.Name</td>
        <td>@item.Password</td>
        <td>@item.Email</td>
        <td>@item.Address</td>
        <td>@item.Role</td>
        <td><a href='#' class='btn btn-warning'>Sửa</a> | <a href='#' class='btn btn-danger'>Xóa</a></td>
    </tr>
}
